@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Sen", sans-serif;
}
